.carousel {
    height: 50vw;
}

.carousel-container {
    position: relative;
  text-align: center;
  color: white;
  z-index: 0;
}

.carousel-image {
    width: 100vw;
    height: 50vw;
    z-index: 10;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    height: 50%;
    width: 65%;
}