.carousel {
    height: 50vw;
}

.carousel-container {
    position: relative;
  text-align: center;
  color: white;
  z-index: 0;
}

.carousel-image {
    width: 100vw;
    height: 50vw;
    z-index: 10;
}

.carousel-text {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}

img#carousel-ch-en-text {
    width: 50%;
    top: 65%;
}

img#carousel-about {
    left: 40%;
    width: 12%;
    top: 80%;
}

img#carousel-contact {
    left: 60%;
    width: 12%;
    top: 80%;
}