html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
}

.layout {
  padding: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: white !important
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.white-frame1-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.017em;
  color: #13B5AB;
  text-align: center;
  vertical-align: middle;
}

.white-frame2-text1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.017em;
  color: #13B5AB;
  text-align: center;
  vertical-align: middle;
}

.white-frame2-text2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  /* identical to box height */
  letter-spacing: -0.017em;
  color: #017F8E;
}

#card1 {
  position: absolute;
  left: 8%;
  top: 73%;
  width: 80%;
  height: 40%;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  line-height: 14px;
}

#card2 {
  position: absolute;
  left: 8%;
  top: 48%;
  width: 80%;
  height: 40%;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  line-height: 14px;
}

#card3 {
  position: absolute;
  left: 8%;
  top: 58%;
  width: 80%;
  height: 40%;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  line-height: 14px;
}