body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.white-frame1-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.017em;
  color: #13B5AB;
  text-align: center;
  vertical-align: middle;
}

.white-frame2-text1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.017em;
  color: #13B5AB;
  text-align: center;
  vertical-align: middle;
}

.white-frame2-text2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  /* identical to box height */
  letter-spacing: -0.017em;
  color: #017F8E;
}