html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
}

Header {
  background-color: white !important
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.big-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
}

.small-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
}

.medium-text, .ant-collapse-header{
  font-family: Inter !important; 
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  letter-spacing: -0.017em !important;
  color: #FFFFFF !important;
}

.short-hr {
  width: 25%;
  background-color: white;
  height: 3px;
  margin-left: 0;
  margin-bottom: 20px;
}

.white-frame1-text {
  font-family: 'Long Cang', cursive;
  ;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.5em;
  color: #13B5AB;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 12px;
}

.white-frame2-text1 {
  font-family: 'Long Cang', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: #017F8E;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 12px 0 0;
}

.white-frame2-hr {
  align-self: center;
  width: 5vw;
  height: 3px;
  background-color: #017F8E;
}

.white-frame2-text2 {
  font-family: 'Long Cang', cursive;
  ;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.5em;
  color: #017F8E;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0 0 12px;
}

#card1 {
  position: absolute;
  left: 8%;
  top: 73%;
  width: 80%;
  height: 40%;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  line-height: 14px;
}

#card2 {
  position: absolute;
  left: 8%;
  top: 48%;
  width: 80%;
  height: 40%;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  line-height: 14px;
}

#card3 {
  position: absolute;
  left: 8%;
  top: 58%;
  width: 80%;
  height: 40%;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  line-height: 14px;
}

#em1, #em2, #em3 {
  font-weight: bold;
}

#em1 {
  color: #40E8E8;
}

#em2 {
  color: #02C299;
}

#em3 {
  color: #2EB3E8;
}

#card4 {
  position: absolute;
  left: 8%;
  top: 50%;
  width: 80%;
  height: 40%;
  line-height: 14px;
}

#card5 {
  position: absolute;
  left: 28%;
  top: 12%;
  width: 80%;
  height: 40%;
  line-height: 14px;
}

#card6 {
  position: absolute;
  left: 8%;
  top: 12%;
  width: 70%;
  height: 70%;
  line-height: 14px;
}

#card7 {
  position: absolute;
  left: 8%;
  top: 12%;
  width: 70%;
  height: 70%;
  line-height: 14px;
}