.menu {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 6.24vw;
}

.menu-item-left {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #03658C;
}

.menu-item-right {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #03658C;
}

.menu-text {
    vertical-align: middle;
}
