html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  line-height: 1.2em;
}

Header {
  background-color: white !important
}


.card8-item {
  font-size: 1.7vw;
  display: block;
  color: #FFFFFF;
}

#logo {
  max-width: 60%;
  padding: 20% 5% 0;
}

.card8-item em {
  font-style: normal;
  text-shadow: 0 0 5px white;
  font-size: 3vw;
  padding: 0 11% 0;
}

hr {
  width: 80%;
  margin-left: 10%;
  background-color: white;
  height: 3px;
}

ul {
  padding: 0 0 0 3vw;
}

.stats li {
  display: inline;
  box-sizing: border-box;
  width: 14vw;
  padding: 2vw;
  display: inline-block;
  text-align: center;
  font-size: 1.2vw;
}

.stats-en li {
  display: inline;
  box-sizing: border-box;
  width: 14vw;
  padding: 0.5vw;
  display: inline-block;
  text-align: center;
  font-size: 1.2vw;
  letter-spacing: 0;
}

li img {
  max-width: 70%;
  margin: 5%;
}

#card9-text {
  position: absolute;
  padding: 30% 10%;
  font-style: normal;
  font-weight: 20;
  font-size: 1.7vw;
  color: #FFFFFF;
}

#card10-text {
  position: absolute;
  padding: 20% 8%;
  font-style: normal;
  font-weight: 20;
  font-size: 1.7vw;
  color: #FFFFFF;
}

#card10-text em {
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  color: #00CDB4;
}

#card9-text-en {
  position: absolute;
  padding: 5% 10%;
  font-style: normal;
  font-weight: 20;
  font-size: 1.5vw;
  color: #FFFFFF;
  letter-spacing: 0;
}

#card10-text-en {
  position: absolute;
  padding: 5% 10%;
  font-style: normal;
  font-weight: 20;
  font-size: 1.5vw;
  color: #FFFFFF;
  letter-spacing: 0;
}